.example-spacer {
    flex: 1 1 auto;
  }


/*Corresponde a pantallas mas chicas*/
  @media (min-width: 300px) and (max-width: 700px){
  mat-toolbar{
    background-color: purple;
  }}

  #menuInicio{
    display: none;
  }


  #menuProducto{
    display: none;
  }

/*Corresponde a pantallas más grandes*/
  @media (min-width: 700px){
    mat-toolbar{
      background-color: palevioletred;
    }
  
    #menuSelecciones{
      display: none;}
  
  }